h1 {
	color: green;
	font-style: italic;
}

.note {
	color: grey;
	padding-top: 3px;
	font-size: 15px;
}

.message {
	color: green;
	background: lightgrey;
	font-size: 14px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.error {
	color: red;
	background: lightgrey;
	font-size: 14px;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	margin-bottom: 20px;
}

.show-countries {
	margin: 10px 0;
}
.show-country {
	display: flex;
	gap: 10px;
}

ul,
li {
	list-style: none;
	margin-left: 0;
	padding-left: 0;
}
